#row2{

    height: auto;
    box-shadow: rgba(128, 128, 128, 0.4) -5px 5px, rgba(128, 128, 128, 0.3) -10px 10px, rgba(128, 128, 128, 0.2) -15px 15px, rgba(128, 128, 128, 0.1) -20px 20px, rgba(128, 128, 128, 0.05) -25px 25px;
    
  }
  #line{
    border: 2px solid black;
    width: 0px;
  }
  body{
    overflow-x: hidden;
  }