 /* body {
	background: linear-gradient(90deg, #eef1f8, rgb(185, 183, 183));		
}  */
.container{
    border-radius: 0px 150px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.login{
    color: white;
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #2c2c2c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #1a1919); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius: 0px 150px;

}

#loginbtn{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-weight: bolder;
    border: none;
}
#loginbtn:hover{
    background-color: black;
    border-radius: 10px;
    font-weight: bolder;
    border: none;
    color: white;
}




