{% extends 'iBeat/base.html' %}
{% load music_tags %}
{% load static %}
{% block content%}

      <section id="home" class="home-section">
      
        <div class="container-fluid" id="divided">
          <div class="row" >
            <div class="col-1"></div>
            <div class="col-11" id="col10">
              <div class="text">Home</div>
              <div class="row">
                <div class="col-7">
              <div id="carouselExampleCaptions " class="carousel slide" data-bs-ride="carousel">
               
                <div class="carousel-inner" style="height: 300px ; width: 600px;">
                  <div class="carousel-item active">
                    <img src="/static/images/music2.jpg" class="img-fluid" style="height: 350px; width:600px; " alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Feel Good</h5>
                      <p>Get yourself up and bright with your favorite</p>
                    </div>
                  </div>
                  <div class="carousel-item" >
                    <img src="/static/images/man.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Feel Good</h5>
                      <p>Get yourself up and bright with your favorite</p>
                    </div>
                  </div>
                </div>
              </div>
              </div>
             
              
              <div class="col-5">
                <h5 class="fw-bold text-muted">Top artists</h5>
                <hr>
                
                <ol >
                  {% for song in songs %}
                  <li id="artistname" class="fw-bold mt-2">{{ song.artist }}</li>
                  {% endfor %}
                </ol>
                <p></p>
                <!-- <p><i>" I was born with music inside me. Music was one of my parts. Like my ribs, my kidneys, my liver,
                   my heart. Like my blood. It was a force already within me when I arrived on the scene.
                    It was a necessity for me - like food or water. "
                  </i> </p> -->
                
              </div>
              

              </div>
              <br><br>
               <h5 class="fw-bold text-muted">Trending</h5>
               <hr>
              <div class="row" >
                {% for song in songs %}
                    <div class="col-md-3 " style="display: inline;">
                      
                        <div class="p-2">
                            <a data-target="#s{{ song.id }}" data-toggle="modal" href="#s{{ song.id }}">
                              <img  id="podcaster1" src="{{ song.image.url }}" class="img-thumbnail ms-5" alt="...">
                                
                            </a>
                            <!-- Modal -->
                            <div class="modal fade" id="s{{ song.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="application">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 style="font-weight: bolder;  color:black;"
                                                class="modal-title">{{ song.title }}</h5>
                                                <!-- <h5 style="font-weight: bolder;  color:black;"
                                                class="modal-title">{{ song.genre }}</h5> -->

                                        </div>
                                        <div class="container">
                                            <img alt="" class="img-fluid rounded-circle" style="height:200px ; width:200px ;" src="{{ song.image.url }}"/>
                                        </div>
                                        <div class="modal-body">
                                            <audio preload="none" controls style="width: 100%">
                                                <source src="{% if song.song %} {{ song.song.url }} {% endif %}" type="audio/mp3">
                                            </audio>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="text-center"><span style="font-weight:bolder; color: black">Song:</span> {{ song.title }}</h6>
                            <br>
                        </div>
                    </div>

               
                {% endfor %}  
              </div>
            </div>
            
          </div>
        </div>
        <form role="search" action="{% url 'search' %}">
          <div class="form-group ">
              <input type="text" class="form-control" placeholder="Search by artist" name="song">
              <button class="btn btn-dark" type="submit"> Search </button>
          </div>
          </form>
    </section>
    
            


{% endblock %}

    