

{%load static%}
{% block content%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SkizaBeat</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="body">
  <div id="nav" class="container-fluid mt-3 ">
    <div class="row">
      <div id="col1" class="col-7 m-3 ">
        <h2 class="head">SkizaBeat</h2>
      </div>
      <div id="col2" class="col-4 m-3">
        <ul id="list">
          <li class="login"><a class="log1" href="{% url 'login' %} ">Log In</a></li>
          <li class="signup"><a class="log" href="{% url 'register' %}">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </div>
   

  <div class="background">
  <div id="desc" class="container">
    <div class="row">
      <div id="col3" class="col-6">
        <h3 class="description">Find  and  Listen  to <br>your favorite  artists <br>here  on SkizaBeat !</h3>
        <br> <br>
        <p class="p1" >The best podcast websites communicate a feel and make <br>
        it easier for users to discover their podcast
        </p>
        
      </div>
      <div id="col4" class="col-3">
        <div class="card">
          <img src="/static/images/lady.jpg" class="card-img-top" alt="...">
        </div>
        <br>
        <div class="card" >
          <img src="/static/images/mqdefault.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card">
           <img src="/static/images/Music-design-china-name.png" class="card-img-top" alt="...">
        </div>
      </div>

      <div id="col5" class="col-3">
        <div class="card">
          <img src="/static/images/Free_Sample_By_Wix (2).jpeg" style="height: 110px;" class="card-img-top" alt="...">
       </div>
       <br><br>
       <div class="card">
        <img src="/static/images/man.jpg" style="height: 260px ;" class="card-img-top" alt="...">
     </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-2">
        <a href="{% url 'register' %}"><button type="button" class="btn btn-dark mb-3">Get Started</button></a>
      </div>
      <div class="col-3">
        <a href="{% url 'register' %}"><button type="button" class="btn btn-outline-dark mb-3"><i class='bx bxs-rocket' ></i> Explore Channels</button></a>
      </div>
      <div class="col-6"></div>
    </div>
  </div>
  </div>


</body>
</html>
{% endblock content%}