{% extends 'iBeat/base.html' %}
{% block content %}
<div class="container">
<div class="row">
    {% if songs %}
    <p>Found {{ songs.count }} of searched term </p>
    <p>{{message}}</p>
    {% else %}
    <p> Found 0 songs for the search term</p>
    <p>{{message}}</p>
    {% endif %}
</div>
<div class="row">
{% if songs %}
    {% for song in songs %}
    <div class="col-sm-2">
    </div>
    <div class="col-md-8">
        <h3><u>{{song.song_title}}</u></h3>
        <p>artist: {{song.artist}}</p>
        <p>albums: {{song.album}}</p>
        <!-- <p>song: {{song.song.url}}</p> -->
        <audio preload="none" controls style="width: 100%">
            <source src="{% if song.song %} {{ song.song.url }} {% endif %}" type="audio/mp3">
        </audio>
    </div>
    <div class="col-md-2">
        </div>
    {% endfor %}
{% endif %}
</div>
<a href="{% url 'home' %}" class="btn btn-dark my-3">Go Back</a>
</div>
{% endblock %}