{% extends 'iBeat/base.html' %}
{% load static %}

{% load crispy_forms_tags %}


{% block content %}
<section id="profile" class="home-section">
    <div class="container-fluid" id="divided">
        <div class="row" >
            <div class="col-1"></div>
            <div class="col-11" id="col10">
                <div class="text">Contact Us</div>
                 
                   <div class="col-md-12" id="email" style="border: 2px solid black;  width:70%; border-radius: 50px;">
                    <form class="m-5" style="border-radius: 20px;" method="POST" action=".">
                        {% csrf_token %}

                        {{ form.as_p }} 
                        <button id="email1" class="btn btn-dark ms-5">Submit</button>
                    </form>
                   </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}