{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="loginarea">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            
    <div class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-dark" type="submit">Sign up</button>
            </div>
        </form>
        
        <div class="border-top pt-3">
            <small class="text-muted">Already Have An Account?<a href="{% url 'login'%}" class="ml-2">Sign in</a></small>
        </div>
    </div>
</div>
<div class="col-md-4"></div>
</div>
{% endblock %}